<!--p.rojo
<p class="rojo"></p>
p#verde
<p id="verde"></p>
div.verde
.verde
<div class="verde"></div>

img.imagen-responsiva*3
<!--lista ordenada
ol>li*4
-->
<link rel="stylesheet" href="/04-Angular/a-web/src/assets/Bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="/04-Angular/a-web/src/app/Componentes/inicio/inicio.component.css">

  <div >
    <br>
    <!--Primera fila-->
    <div  class="a">
      <div class="col-md-6">
        <div  class="row">
          <div class="col-md-1"></div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div  class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">Bootstrap</div>
          <div class="col-md-3">Documentation</div>
          <div class="col-md-2">Examples</div>
          <div class="col-md-2">Themes</div>
          <div class="col-md-1">Expo</div>
          <div class="col-md-1">Blog</div>
        </div>
      </div>
    </div>

    <!--Segunda fila-->

    <div style="background-color: #6f5499" align="center" class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br>
        <br>
        <br>

        <img src ="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-social-logo.png" width="100" height="100"
             alt="logo bootstrap">
        <p class="lead" >Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web</p>
        <div class="trans">

          <button type="button" class="btn ">Download Bootstrap</button></div>
        <p class="b">Currently v4.0.0-alpha.6</p>
        <div class="trans">
          <a
            href="http://www.sitefinity.com/campaigns/sitefinity/sf-asp-net-cms?utm_medium=cpm&utm_source=carbonads&utm_campaign=asp-net">
            <img src="/04-Angular/a-web/src/assets/Bootstrap/imagenes/Captura.jpg" alt="Captura">
          </a>
        </div>
        <br>
        <br>
        <br>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <br>

    <!--Tercera fila-->
   <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" align="center">
        <h2>Easy to get started.</h2>
        <p class="c">Quickly include Bootstrap's CSS and JS into any project. Use your favorite package manager, download the source, or use the Bootstrap CDN.</p>

      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <br>

    <!--Cuarta Fila-->
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Managed dependencies</h4>
        <p>Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed installs don't include documentation, but do include our Gruntfile and readme.</p>
        <button type="button" class="d">View install methods</button>
      </div>
      <div class="col-md-6">
        <h4>Bootstrap CDN</h4>
        <p>When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN folks.</p>
        <img src="" width="300" height="100" alt="captura2">
      </div>
    </div>

    <br>
    <br>
    <!--Cuarta fila-->
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8" align="center">
        <h2>Designed for everyone, everywhere.</h2>
        <p class="c">Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes..</p>

      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <br>
    <!--Cuarta fila-->
    <div class="row">

      <div class="col-sm-4">

        <img src ="http://getbootstrap.com/assets/img/sass-less.png" width="300" height="100"
             alt="logoPreprocessors">
        <h4>Preprocessors</h4>
        <p>Bootstrap ships with vanilla CSS, but its source code utilizes the two most popular CSS preprocessors, Less and Sass. Quickly get started with precompiled CSS or build on the source</p>
      </div>

      <div class="col-sm-4">

        <img src ="http://getbootstrap.com/assets/img/devices.png" width="300" height="100" alt="logoOneFramework">
        <h4>One framework, every device.</h4>
        <p>Bootstrap easily and efficiently scales your websites and applications with a single code base, from phones to tablets to desktops with CSS media queries.</p>
      </div>

      <div class="col-sm-4">

        <img src ="http://getbootstrap.com/assets/img/components.png" width="300" height="100" alt="logoFullOfFeatures">
        <h4>Full of features</h4>
        <p>With Bootstrap, you get extensive and beautiful documentation for common HTML elements, dozens of custom HTML and CSS components, and awesome jQuery plugins.</p>
      </div>
    </div>
    <br>
    <br>
    <!--Quinta fila-->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p class="e"> Bootstrap is open source. It is hosted, developed, and maintained on GitHub.</p>
        <div class="trans">
          <button type="button" class="d ">View the Github proyect</button></div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <br>
    <br>
    <!--Septima fila-->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" align="center">
        <h2>Built with Bootstrap.</h2>
        <p class="e">Millions of amazing sites across the web are being built with Bootstrap. Get started on your own with our growing collection of examples or by exploring some of our favorites.</p>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <br>
    <br>
    <!--Octava fila-->
    <div class="row">
      <div class="col-sm-3">
        <img src="http://getbootstrap.com/assets/img/expo-lyft.jpg" width="260" height="200" alt="Lyft">
      </div>
      <div class="col-sm-3">
        <img src="http://getbootstrap.com/assets/img/expo-vogue.jpg" width="260" height="200" alt="Vogue">
      </div>
      <div class="col-sm-3">
        <img src="http://getbootstrap.com/assets/img/expo-riot.jpg" width="260" height="200" alt="Riot Desing">
      </div>
      <div class="col-sm-3">
        <img src="http://getbootstrap.com/assets/img/expo-newsweek.jpg" width="260" height="200" alt="Newsweek">
      </div>
    </div>
    <br>
    <br>
    <!--Novena fila-->
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p class="e">We showcase dozens of inspiring projects built with Bootstrap on the Bootstrap Expo.</p>

        <button type="button" class="d">Explore the Expo</button></div>

    </div>
    <div class="col-sm-2"></div>

    <br>
    <br>

  </div>

</div>
