<link rel="stylesheet" href="assets/Bootstrap/css/bootstrap.css">
<!--<link rel="stylesheet" href="/04-Angular/a-web2/src/app/Componentes/inicio/inicio.component.css">
<!-- SAEW
<div >

  <div class="container">
    <div class="cabecera">
    <div class="row">
      <div class="col-md-6">
        <br>
        <img src="https://saew.epn.edu.ec/Imagenes/img/logoSaew.png">
        <p class="a">SAEW v 1.0.1  MARTES, 30 DE MAYO DE 2017</p>

      </div>
      <div class="col-md-6">
        <p class="b">SISTEMA DE ADMINISTRACION ESTUDIANTIL</p>
      </div>
    </div>
    </div>
    <br>
    <br>


    <div class="row">

      <div class="col-sm-6">
        <h1 class="titulo">Inicio de sesion</h1>
          <div class="gris">
            <label class="cuadro">Modo :</label>
          </div>
          <div class="campo">

          </div>

        <div class="gris">
          <label class="cuadro">Usuario :</label>
        </div>
        <div class="campo">

        </div>

        <div class="gris">
          <label class="cuadro">Clave :</label>
        </div>
        <div class="campo">

        </div>
        <br>
        <br>
        <br>
        <ul style="background-color: whitesmoke">
          <br>
          <li >La primera vez que ingrese al sistema deberá crear su contraseña que consta de 5 a 12 caracteres alfanuméricos.</li>
          <br>
          <li >Si ingresa la clave Errada por 3 ocasiones tendrá 3 intentos más, luego de los cuales el acceso quedará bloqueado. Notifique a la Dirección de Gestión de la Información y Procesos.</li>
          <br>
          <li >No olvide la contraseña, una vez creada guarde la información. RECUERDE: No proporcione su contraseña a terceros.</li>
          <br>
        </ul>
      </div>

      <div class="col-sm-6">
        <h1 class="titulo">Importante</h1>
        <div class="aviso">
          <p>Restablece la Contraseña del CORREO INSTITUCIONAL </p>

          <img src="/assets/Bootstrap/imagenes/Captura.PNG" alt="Codigo QR">
          <p>¡ESCANEA el código QR!</p>

        </div>

        <div>
          <img src="assets/Bootstrap/imagenes/Captura2.PNG" alt="calendario">
        </div>

        <br>
        <br>

      </div>

    </div>
    <br>
    <br>
    <div class="footer">
      <p>Escuela Politécnica Nacional © Todos los Derechos Reservados.</p>
      <p>Dirección de Gestión de la Información y Procesos (DGIP) Edif. Administración Planta Baja.</p>
    </div>

  </div>

</div>
-->


<!-- ejemplo #
<div class="container">
  <!-- el #(algun nombre) lo que hace es guardandole el nombre que se le pone, si se le quiere acceder desde la clase no se va a poder, pero si se puede desde la vista,
   El # guarda una etiqueta en una variable-->
<!--<input placeholder="Ingrese texto" type="text" [value]="nombre" #nombreEtiqueta>-->
<!--
<input placeholder="Ingrese texto" type="text" [(ngModel)]="nombre">
{{nombre}}
<img [src]="nombre" alt="nombre">
<br>
<!-- parentesis dentro de las etiquetas se usa para aplicar un evento-->
<!--
<button class="btn btn-primary" (click)="cambiarNombre()">Cambiar Valor</button>
<button (blur)="cambiarOtroNombre()" >clic</button>
<h1 (click)="cambianNombreInput(nombreEtiqueta)">Lenin a Rafico</h1>
</div>-->
<!--
<body class="star">
<div class="container">
<h1 align="center">BIENVENIDOS</h1>
<!--<H2>USUARIO CONECTADO</H2>

<div class="row">
  <div  *ngFor="let usuario of arregloUsuario">
    <div class="col-sm-4" *ngIf="usuario.conectado">
    <div class="card" style="width: 20rem;" >
      <div class="card-block" >
        <h4 class="card-title" >{{usuario.nombre}}-{{usuario.conectado}}</h4>
        <p class="card-text">Nombre+{{usuario.apellido}}</p>
        <p href="#" class="btn btn-primary btn-block">Hola :)</p>
      </div>
    </div>


    </div>
  </div>
</div>-->
<!--
<h2 align="center">PLANETAS DE STAR WARS</h2>
<br>
  <p align="center"> <button class="btn btn-outline-success" (click)="cargarPlanetas()" >Cargar Planetas</button></p>
  <br>
  <br>
  <!--<div >

  <div class="row">
    <div class="col-sm-4 " *ngFor = "let planeta of planetas; let i = index">
      <figure class="figure">
        <img  src="{{arregloImagenes[i]}}" alt="{{planeta.name}}" width="200" height="200">
        <figcaption class="figure-caption">
          <li><b>Nombre:</b> {{planeta.name}}</li>
          <li><b>Periodo de rotacion:</b> {{planeta.rotation_period}}</li>
          <li><b>Periodo orbital:</b> {{planeta.orbital_period}}</li>
          <li><b>Diametro:</b> {{planeta.diameter}}</li>
          <li><b>Clima:</b> {{planeta.diameter}}</li>
          <li><b>Gravedad:</b> {{planeta.gravity}}</li>
          <li><b>Terreno:</b> {{planeta.terrain}}</li>
          <li><b>Superficie de agua:</b> {{planeta.surface_water}}</li>
          <li><b>Poblacion:</b> {{planeta.population}}</li>
        </figcaption>
      </figure>
    </div>
  </div>
  </div>
</div>
</body>
<!--
<p *ngIf="true">TRUE</p>
<p *ngIf="false">FALSE</p>
<p *ngIf="(1+1)==2">TRUE</p>
<p *ngIf="(1+1)!=2">FALSE</p>
<p *ngIf="Undefined">UNDEFINED</p>
<p *ngIf="NULL">NULL</p>
<p *ngIf="0">CER</p>
<!--let variable nueva-->
<!--
<div>
  <ul>
    <li *ngFor="let usuario of arregloUsuario">{{usuario.nombre}}</li>
  </ul>
</div>
-->
<div class="container">
  <div class="container">
    <h1>BIENVENIDO A LA PAGINA</h1>

    <button class="btn btn-outline-success" (click)="cargarPlanetas()">
      <br>
      <br>
      CARGAR PLANETAS
    </button>
    <div class="row">
      <div class="col-sm-4" *ngFor="let planeta of planetas; let i=index">

        <app-planeta-star-wars [planeta]="planeta"></app-planeta-star-wars>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <pre>
            {{nuevoUsuario | json }}
          </pre>
          <label class="col-form-label">
            Nombre Usuario:
          </label>
          <input class="form-control"
                 placeholder="Ingrese nuevo nombre"
                 [(ngModel)]="nuevoUsuario.nombre" type="text">
        </div>
        <button class="btn btn-primary" (click)="crearUsuario()">Crear </button>
      </div>
    </div>
    <br>
    <h3>Usuarios</h3>

    <div class="row">
      <div class="col-sm-3" *ngFor="let usuario of usuarios;let i = index;">
        <h3>{{usuario.nombre}}</h3>
        <p class="card-text">{{usuario.nombre}} </p>
        <button class="btn btn-danger" (click)="eliminarUsuario(usuario.id,i)"> Eliminar</button>
      </div>
    </div>
  </div>
</div>


